.popup__container {
    display: flex;
    
    

    margin: auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    width: 430px;
    flex-direction: column;
    background-color: #ffff;
}

@media screen and (max-width: 640px) {
    .popup__container {
        width: 282px;
    }
    
}