.elements__button-delete {
    display: block;
    position: absolute;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../../images/Group.png);
    /* background-color: #FFFFFF; */
    background-color: transparent;
    cursor: pointer;
}