.profile__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    width: 70%;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 1023px) {
    .profile__subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        text-align: center;
        width: 100%;
        margin: 14px 19px 0 0;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;

    }
}