.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../../../images/plus.png);
    border: 2px solid #FFFFFF;
    cursor: pointer;

}

@media screen and (max-width: 603px) {
    .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
}
}

.profile__add-button:hover {
    opacity: 0.5;
}