.profile__title {
    margin: 0 0 16px 0;
    line-height: 48px;
    font-size: 42px;
    font-weight: 500;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 1023px) {
    .profile__title {
        font-size: 25px;
        margin: 0 0 0 2px;
    }
}

/* !!!!!!!!!!БЫЛО ЗАМЕЧАНИЕ КО МНЕ В ПРОШЛО ИТЕРАЦИИ, НЕ ОПЫТНОМУ ВЗГЛЯДУ БЫЛО СЛОЖНО ПОНЯТЬ ИСПРАВИЛ ЛИ Я ЕГО, ПОКАЗАЛ СКРИНШОТ НАСТАВНИКУ, ОН СКАЗАЛ, ЧТО ВСЕ НОРМ!!!!!!!!!!!! */
/* На разрешении 320px необходимо отцентрировать имя и описание пользователя в соответствии с макетом. Аватар сейчас по центру, а имя и описание смещены влево */

@media screen and (max-width: 767px) {
    .profile__title {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0;
        /* padding: 0 0 0 20px; */
        color: #FFFFFF;
    }
}