.popup__img_type_zoom {
    width: 816px;
    height: 540px;
}

@media screen and (max-width: 940px) {
    .popup__img_type_zoom {
        width: 516px;
        height: 399px;
    }
    
}

@media screen and (max-width: 640px) {
    .popup__img_type_zoom {
        width: 240px;
        height: 299px;
    }
    
}