.popup__input-job {
    display: block;
    width: 358px;
    margin: 30px 36px 0;
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    color: #000000;
}

@media screen and (max-width: 642px) {
    .popup__input_job {
        padding: 30px 0 13px 0;
        width: 238px;
        margin: 0 22px 0 22px;
    }
}