.profile__info {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;  */
    margin-right: auto;
    /* flex-direction: column;
    margin: 25.75px 0 0 0; */
    max-width: calc(100% - 300px);
}

/* @media screen and (max-width: 767px) {
    .profile__info {
        margin: 22.25px auto 0 45px;
    }
} */

@media (max-width: 767px) {
    .profile__info {
        max-width: 100%;
        margin-right: 0;
        justify-content: center;
        margin-top: 22.25px;
        
    }
}

/* @media screen and (max-width: 340px) {
    .profile__info {
        justify-content: left;
    }
    
} */